@model MvcTraining.Models.Tblkategoriler

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.Kategoriid)
        @Html.TextBoxFor(m=>m.Kategoriid,new{@class="form-control"})
        <br/>
        @Html.LabelFor(m=>m.Kategoriad)
        @Html.TextBoxFor(m=>m.Kategoriad,new{@class="form-control"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-warning">
            Kategori Güncelle
        </button>
    </div>
}


