@using MvcTraining.Models
@model List<Tblmusteriler>

    <table class="table table-bordered">
        <tr>
            <th>MUSTERI ID</th>
            <th>MUSTERI AD</th>
            <th>MUSTERI SOYAD</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
        <tbody>
        @foreach(var musteri in Model)
        {
            <tr>
                <th>@musteri.Musteriid</th>
                <td>@musteri.Musteriad</td>
                <td>@musteri.Musterisoyad</td>
                <td>
                    <a href="/MUSTERI/Sil/@musteri.Musteriid" class="btn btn-danger btn-sm">SİL</a>
                </td>
                <td>
                    <a href="/MUSTERI/MusteriGetir/@musteri.Musteriid" class="btn btn-success btn-sm">GÜNCELLE</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
<a href="/MUSTERI/YeniMusteri/" class="btn btn-primary">YENİ MUSTERI EKLE</a>